In [3]:
print("Hello ")

Hello

In [9]:
name=str(input("Enter Your Name"))
print("Your Name is ",name)

Enter Your Name efw

Your Name is  efw

# Pandas

In [14]:
import pandas as pd

In [43]:
df=pd.read_csv('boxoffice_data_2024.csv')

In [45]:
print(df)

      Year                                          Title         Gross
0     1984                              Beverly Hills Cop  $234,760,478
1     1984                                   Ghostbusters  $229,376,332
2     1984           Indiana Jones and the Temple of Doom  $179,876,727
3     1984                                       Gremlins  $148,171,538
4     1984                                 The Karate Kid   $90,817,155
...    ...                                            ...           ...
8140  2024                            Irklais per Atlanta    $1,402,306
8141  2024                                     Bramayugam    $1,388,375
8142  2024                                  White Courage    $1,373,237
8143  2024  National Theatre Live: The Motive and the Cue    $1,338,772
8144  2024                            Escape from Germany    $1,321,364

[8145 rows x 3 columns]